/*
 * PagarmeSDK
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using PagarmeSDK;
using PagarmeSDK.Utilities;
using PagarmeSDK.Http.Request;
using PagarmeSDK.Http.Response;
using PagarmeSDK.Http.Client;
using PagarmeSDK.Exceptions;

namespace PagarmeSDK.Controllers
{
    public partial class TransfersController: BaseController
    {

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static TransfersController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static TransfersController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new TransfersController();
                    }
                }
                return instance;
            }
        }


        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="transferId">Required parameter: Example: </param>
        /// <return>Returns the Models.GetTransfer response from the API call</return>
        public Models.GetTransfer GetTransferById(string transferId)
        {
            Task<Models.GetTransfer> t = GetTransferByIdAsync(transferId);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="transferId">Required parameter: Example: </param>
        /// <return>Returns the Models.GetTransfer response from the API call</return>
        public async Task<Models.GetTransfer> GetTransferByIdAsync(string transferId, CancellationToken cancellationToken = default)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/transfers/{transfer_id}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "transfer_id", transferId }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", Configuration.UserAgent },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = HTTPClient.Get(_queryUrl,_headers, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request, cancellationToken).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.GetTransfer>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="request">Required parameter: Example: </param>
        /// <return>Returns the Models.GetTransfer response from the API call</return>
        public Models.GetTransfer CreateTransfer(Models.CreateTransfer request)
        {
            Task<Models.GetTransfer> t = CreateTransferAsync(request);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="request">Required parameter: Example: </param>
        /// <return>Returns the Models.GetTransfer response from the API call</return>
        public async Task<Models.GetTransfer> CreateTransferAsync(Models.CreateTransfer request, CancellationToken cancellationToken = default)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/transfers/recipients");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", Configuration.UserAgent },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(request);

            //prepare the API call request to fetch the response
            HttpRequest _request = HTTPClient.PostBody(_queryUrl, _headers, _body, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request, cancellationToken).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.GetTransfer>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Creates a transfer using the current V5 endpoint.
        /// </summary>
        /// <param name="request">Required parameter: Transfer data</param>
        /// <param name="idempotencyKey">Optional parameter: Example: </param>
        /// <return>Returns the Models.GetTransferResponse response from the API call</return>
        public Models.GetTransferResponse CreateTransfer(Models.CreateTransferRequest request, string idempotencyKey = null)
        {
            Task<Models.GetTransferResponse> t = CreateTransferAsync(request, idempotencyKey);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Creates a transfer using the current V5 endpoint.
        /// </summary>
        /// <param name="request">Required parameter: Transfer data</param>
        /// <param name="idempotencyKey">Optional parameter: Example: </param>
        /// <return>Returns the Models.GetTransferResponse response from the API call</return>
        public async Task<Models.GetTransferResponse> CreateTransferAsync(Models.CreateTransferRequest request, string idempotencyKey = null, CancellationToken cancellationToken = default)
        {
            string _baseUri = Configuration.BaseUri;
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/transfers");

            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", Configuration.UserAgent },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "idempotency-key", idempotencyKey }
            };

            var _body = APIHelper.JsonSerialize(request);
            HttpRequest _request = HTTPClient.PostBody(_queryUrl, _headers, _body, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request, cancellationToken).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.GetTransferResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Cancels a transfer.
        /// </summary>
        /// <param name="transferId">Required parameter: Transfer id</param>
        /// <param name="idempotencyKey">Optional parameter: Example: </param>
        /// <return>Returns the Models.GetTransferResponse response from the API call</return>
        public Models.GetTransferResponse CancelTransfer(string transferId, string idempotencyKey = null)
        {
            Task<Models.GetTransferResponse> t = CancelTransferAsync(transferId, idempotencyKey);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Cancels a transfer.
        /// </summary>
        /// <param name="transferId">Required parameter: Transfer id</param>
        /// <param name="idempotencyKey">Optional parameter: Example: </param>
        /// <return>Returns the Models.GetTransferResponse response from the API call</return>
        public async Task<Models.GetTransferResponse> CancelTransferAsync(string transferId, string idempotencyKey = null, CancellationToken cancellationToken = default)
        {
            string _baseUri = Configuration.BaseUri;
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/transfers/{transfer_id}/cancel");

            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "transfer_id", transferId }
            });

            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", Configuration.UserAgent },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" },
                { "idempotency-key", idempotencyKey }
            };

            HttpRequest _request = HTTPClient.PostBody(_queryUrl, _headers, null, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request, cancellationToken).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.GetTransferResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Retrieves a transfer receipt.
        /// </summary>
        /// <param name="transferId">Required parameter: Transfer id</param>
        /// <return>Returns the Models.PagarmeObjectResponse response from the API call</return>
        public Models.PagarmeObjectResponse GetTransferReceipt(string transferId)
        {
            Task<Models.PagarmeObjectResponse> t = GetTransferReceiptAsync(transferId);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Retrieves a transfer receipt.
        /// </summary>
        /// <param name="transferId">Required parameter: Transfer id</param>
        /// <return>Returns the Models.PagarmeObjectResponse response from the API call</return>
        public async Task<Models.PagarmeObjectResponse> GetTransferReceiptAsync(string transferId, CancellationToken cancellationToken = default)
        {
            string _baseUri = Configuration.BaseUri;
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/transfers/{transfer_id}/receipt");

            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "transfer_id", transferId }
            });

            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", Configuration.UserAgent },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };

            HttpRequest _request = HTTPClient.PostBody(_queryUrl, _headers, null, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request, cancellationToken).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.PagarmeObjectResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Gets all transfers
        /// </summary>
        /// <return>Returns the Models.ListTransfers response from the API call</return>
        public Models.ListTransfers GetTransfers()
        {
            Task<Models.ListTransfers> t = GetTransfersAsync();
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Gets all transfers
        /// </summary>
        /// <return>Returns the Models.ListTransfers response from the API call</return>
        public async Task<Models.ListTransfers> GetTransfersAsync(CancellationToken cancellationToken = default)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/transfers");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", Configuration.UserAgent },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = HTTPClient.Get(_queryUrl,_headers, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request, cancellationToken).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.ListTransfers>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 





